@font-face {
	font-family: 'Atami-Regular';
	src: url('../../fonts/Atami-Regular.eot');
	src: local('☺'), url('../fonts/Atami-Regular.woff') format('woff'), url('../fonts/Atami-Regular.ttf') format('truetype'), url('../fonts/Atami-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atami-Light';
	src: url('../fonts/Atami-Light.eot');
	src: local('☺'), url('../fonts/Atami-Light.woff') format('woff'), url('../fonts/Atami-Light.ttf') format('truetype'), url('../fonts/Atami-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rounded_Elegance';
	src: url('../fonts/Rounded_Elegance.eot');
	src: local('☺'), url('../fonts/Rounded_Elegance.woff') format('woff'), url('../fonts/Rounded_Elegance.ttf') format('truetype'), url('../fonts/Rounded_Elegance.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: "Atami-Regular";
}



.navbar {
    background: #121212;
    padding: 10px;
    margin-bottom: 0;
}
.navbar-brand {
	padding-left: 100px;
	padding-top: 5px;
}

#logo {

	padding-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #eeeeee;
    font-size: 15px;
}

#inicio {
	margin: 0;
}

#inicio div {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

#inicio div p {
	padding-top: 20%;
	padding-bottom: 40%;
	font-size: 25px;
}

#inicio img {
	width: 50%;
	padding-top: 25%;
	padding-bottom: 5%;
}
.container-fluid.personal {
	padding-bottom: 5%;
}
.personal {
  background-color: #333333;
  background-image: url("../img/equipo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.personal h2{
	color: #eeeeee;
	font-size: 45px;
}
.personal h3 {
	font-family: "Atami-Light";
	color: #eeeeee;
	font-size: 12px;
	margin: 0;
	padding:0;
	letter-spacing: 1px;
	
}
.personal img {
	margin-top: 5%;
}

.personal p {
	color: #ff9a02;
	font-family: "Atami-Light";
	margin-right: 38%;
	margin-left: 38%;
	text-align: justify;
	letter-spacing: 0.2px;
}

.contacto{
	background: #666666;
	margin: 0;
	padding: 25px;
	color: #333333;
}
#contacto label {
	font-size: 18px;
}
#contacto h2 {

	color: #273a72;
}
.form-control {
	background-color: #5d5d5d;
	border: 1px solid #5d5d5d;
	border-radius: 20px;
	color: #d0d0d0;
}

.container-fluid{
	padding:0;
}
.goal {
	background-color: #eeeeee;
}

.goal img {
	padding: 20px;
}



.goal li{
	display: inline-block;
	font-size: 15px;
	font-family: "Atami-Light";
	margin: 10px;
	margin-top: 0;
	padding: 0;
	letter-spacing: 1px;
	margin-bottom: 80px;
}
.goal li:before{
content: "|";
color: #273a71;
padding-right: 10px;
}

.goal p {
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 50px;
	padding-bottom: 0;
	text-align: justify;
	letter-spacing: 0.2px;
	font-family: "Rounded_Elegance";
	font-size: 25px;
}
.goal h2{
	font-size: 60px;
	font-family: "Atami-Regular";
	margin: 0;
	padding:0;
}

#goal h3 {
	font-family: "Atami-Light";
	color: #273a71;
	font-size: 60px;
	margin: 0;
	padding:0;
	margin-bottom: 50px;
}

hr {
width: 360px;
height: 3px;
color: #273a71;
background-color: #273a71;
border: none;
}

.contenedorsito {
	padding-top: 15%;
	padding-bottom: 15%;
}